[Unit]
Description=MTP initiator

[Service]
User=network_fw
Group=network_fw
Type=simple
SmackProcessLabel=System
ExecStart=/usr/bin/mtp-initiator
KillMode=process
